html, body{width: 100%; height: 100%; margin: 0; padding: 0}
container{width: 100%; height: 100%; background-color: hotpink;}
.pls_bc1{background-color:darksalmon}
.pls_bc2{background-color:cadetblue}
.pls_bc3{background-color:chartreuse}
.pls_bc4{background-color:darkturquoise}
.pls_bc5{background-color:dodgerblue}
.pls_nxt_btn{width:50px;height:50px;position:absolute;display:inline-block;background-color:mediumvioletred;top:90%;left:90%}
.pls_w100_h33{width:100%;height:33.3333%;float:left;display:inline-block;}
.pls_w100_h50{width:100%;height:50%;float:left;display:inline-block;}
.pls_w200_h200{width:200px;height:200px;display:inline-block;}
.pls_w350_h350{width:350px;height:350px;display:inline-block;}
.pls_con_left{width:50%;height:100%;float:left;display:inline-block;background-color:aqua;}
.pls_con_right{width:50%;height:100%;float:left;display:inline-block;background-color:beige;}
.pls_con_left_center{width:400px;height:400px;top:50%;left:25%;margin-left:-200px;margin-top:-200px;position:absolute;display:inline-block;text-align:center;background-color:azure;}

    /*animation*/
.pls_slide{
    animation-name: slide;
    animation-duration: 20s;
    background-repeat: repeat;
    animation-iteration-count: infinite;
}
@-webkit-keyframes slide {
  0% {background-position: 0 0;}
  100% {background-position: -2050px 0px;}
}

.pls_scale{
    color: red;
    animation-name: scale;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@-webkit-keyframes scale {
  from {transform: scale(1.2);}
  to {transform: scale(1);}
} 

.pls_blink{
    animation-name: blink;
    animation-duration: 4.5s;
    animation-iteration-count: 1;
}
@keyframes blink {
    0% {color: white; opacity: 1;}
    100% {color: rgb(51, 51, 51); opacity: 0.4;}
}
